<div data-role="header">
	<h1>Index Page</h1>
</div>
<div data-role="content">
	<ul data-role="listview">
		<li><a href="/acura">Acura</a></li>
		<li><a href="/audi">Audi</a></li>
		<li><a href="/bmw">BMW</a></li>
		<li><a href="/ferrari">Fait </a></li>
	</ul>
</div>	

<div data-role="footer" style="text-align:center">
	<span> CopyRight &copy; Viren Negi </span>
</div>	

<script type="text/javascript">
	<%= store_key %>
</script>
